<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <style>
        .login{
            border: 1px solid;
            width: 12cm;
            height: 12cm;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            background-color: #ffffBB;
            text-align: center;
        }

    </style>
</head>
<body style="background-color: rgba(24,52,228,0.03)">
<div class="login">
    <h1>修改密码</h1>
    <p>已经通过验证，请设置新密码</p>
    <hr>
    <form action="/modify_pwd/" method="post">
        {% csrf_token %}
        <div class="input" style="margin-left: 1px;margin-top: 20px">
            <input type="password" id="password1" name="password1" placeholder="密码2" >
            <span style="font-size: 10px;color: #1834e4">&nbsp;*必须同时包含字母和数字的6到16位字符</span>
            <input type="password" id="password2" name="password2" placeholder="密码2" >
            <span style="font-size: 10px;color: #1834e4">&nbsp;*必须同时包含字母和数字的6到16位字符</span>
            <input type="hidden" name = "email" value="{{ email }}">
        </div>

        <div class="input">
            <br>
            <input type="submit" value="提交" style="background-color: #65ff2a ;width: 4cm;height: 1cm; margin-top: 30px">

        </div>
       <p>{{ mes }}{% for key, error in modify_form.errors.items %}{{ error }}{% endfor %} </p>
    </form>

</div>

</body>
</html>